@import "config/reset.css";
@import "config/theme.css";
@import "components/text.css";
@import "components/nav.css";
@import "components/flex.css";
@import "components/spaces.css";
@import "components/button.css";


.shadow {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.bg-dark {
    background-color: var(--gray-dark-color);
    color: white;
}
.border {
    border: var(--border-size) solid var(--gray-color);
    padding: 10px;
    border-radius: var(--border-radius);
}
.rounded {
    border-radius: var(--border-radius);
}