<footer>
    <div class="footer-items" style="position: relative;">
        <div class="custom-shape-divider-bottom-1714342695">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
            </svg>
        </div>
        <div class="div-footer">
            <h3>Leta 2024 - Copyright</h3>
        </div>
    </div>

    <style>
        footer {
            position: absolute;
            bottom: -100px ;
            width: 100%;
            z-index: 0;
        }
        .div-footer{
            background-color: var(--primary-color);
            position: absolute;
            width: 100%;
            padding: 20px;
            display: flex;
            justify-content: space-around;
        }
        .custom-shape-divider-bottom-1714342695 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);
        }

        .custom-shape-divider-bottom-1714342695 svg {
            position: relative;
            display: block;
            width: calc(163% + 1.3px);
            height: 144px;
        }

        .custom-shape-divider-bottom-1714342695 .shape-fill {
            fill: var(--primary-color);
        }
    </style>
</footer>