    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../scripts/global/jquery.min.js"></script>
    <link rel="icon" href="../../images/global/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../styles/main.css">
    <title><%=site.name%> - <%=page.name%></title>